html, body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #000; 
    overflow-x: hidden; 
}

header {
    background-color: #eaca3f;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

#headerLogoAndTitle {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

#headerLogo {
    height: 60px;
    width: auto;
    margin-right: 10px;
}

#headerTitle {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#adminBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

#adminBtnIcon {
    margin-left: 10px;
}

#centerSection {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: center;
}
#searchBar {
    margin: 0;
    position: relative; 
    display: inline-block; 
}

#searchInput {
    width: 500px;
    padding: 10px 40px 10px 10px;
    border-radius: 10px;
    border: 3px solid #a7933d;
    font-size: 16px;
}

#searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

@media (max-width: 900px) {
    header { position: absolute; height: auto; flex-direction: column; }
    #adminBtn, #centerSection { display: none; }
}

/* Jasny motyw */

#themeToggle {
    margin-right: 20px;
    background: #333;
    border: 2px solid #cf8600;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

body.light-mode {
    background-color: #f4f4f4 !important;
    color: #1a1a1a !important;
}

body.light-mode header {
    background-color: #ffd700; 
}

body.light-mode #detailsWrapper, 
body.light-mode #favouritesWrapper, 
body.light-mode #searchWrapper {
    background-color: #ffffff;
    color: #1a1a1a;
}

body.light-mode .navItem, 
body.light-mode #headerTitle {
    color: #000 !important;
}

#themeToggle {
    background-color: #333;
    color: white;
    border: 2px solid #a7933d;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
    transition: 0.3s;
}

body.light-mode #themeToggle {
    background-color: #fff;
    color: #333;
}